*{
	margin: 0;
	padding: 0;
}
h2 {
	text-decoration: underline;
	color: #02C2FC;
}
p {
	font-size: 17px;
}
span {
	color: red;
} 
body {
	width: 350px;
	margin: auto;	
	float: left;
    width: 50%;
    padding: 50px;
    height: 300px;
    background-color: #E7EAEB;
}
#left {
	float: left;
}
#left form {
	background-color: white;
	border-style: groove;
	border-radius: 10px;
	height: 200px;
	width: 220px;
}
#right {
    margin-left: 230px;
}
#right form {
	background-color: white;
	border-style: groove;
	border-radius: 10px;
	width: 390px;
	height: 240px;
}
#souma form p input.mixi1 {
	margin: 15px;
}
#souma form p input.mixi2 {
	margin: 15px;
}
#souma form p input.mixi3 {
	margin: 15px;
}	
#yukihira form p input.abe1 {
	width: 80px;
	margin: 15px;
}
#yukihira form p input.abe2 {
	width: 80px;
	margin: 15px;
}
#yukihira form p input.abe0  {
    margin: 15px
}
#yukihira form p input.abe3 {
	margin: 15px;
}
#yukihira form p input.abe4 {
	margin: 15px;
}
#left h1 {
	margin-bottom: 15px;
	height: 30px;
	width: 30px;
}
#right h3{
	margin-bottom: 11px;
    font-size: 30px;
}
#abe {
    display: -webkit-box;
}